:root {
  --gris: #aaa;
  --rojo: #bd0707;
  --rojo-oscuro: #f2f0f0;
  --blanco: rgba(1, 8, 18, 0.2);
  --luz: rgb(0, 255, 94);
  --texto: rgb(13, 4, 4);
  --titulo: #fff;
}

body {
  align-items: center;
  /*azul celeste */
  background: #696975;
  background: -moz-linear-gradient(left, #5a5af335 0%, #022b09 100%);
  background: -webkit-linear-gradient(left, #03033b 0%, #152b27 100%);
  background: linear-gradient(to right, #5c046a 0%, #938702 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--titulo);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black; /* Sombra que simula el borde */
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.teclado {
  background: linear-gradient(to bottom, #049d6a 0%, #025672 100%);
  box-shadow: 6px 8px 0 6px #666, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--blanco);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--gris);
  color: var(--texto);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 #fff; /* Sombra que simula el borde */
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}
button {
  background-color: rgb(23, 27, 1, 0.9);
}
.tecla.activa,
.tecla:active {
  background-color: var(--rojo);
  border: 4px solid var(--rojo);
  box-shadow: 3px 3px 0 var(--rojo-oscuro) inset;
  color: var(--blanco);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--rojo-oscuro) inset, 1px 1px 10px var(--luz);
}
